In [18]:
from neuralprophet import NeuralProphet
import pickle
import pandas as pd

In [19]:
m= NeuralProphet()

In [20]:
#load dataframe
df = pd.read_csv('neuralprophet_data.csv')

#load the model
with open('dhaka_forecast.pkl','rb') as f:
    m = pickle.load(f)

In [21]:
df.rename(columns={'time':'ds', 'temperature':'y'}, inplace=True)

In [22]:
df.to_csv('data.csv', index= False)

In [23]:
df

                       ds     y
0     2023-07-24 00:00:00  29.6
1     2023-07-24 01:00:00  29.1
2     2023-07-24 02:00:00  28.7
3     2023-07-24 03:00:00  28.4
4     2023-07-24 04:00:00  28.1
...                   ...   ...
2371  2023-10-30 19:00:00  26.2
2372  2023-10-30 20:00:00  25.4
2373  2023-10-30 21:00:00  24.8
2374  2023-10-30 22:00:00  24.4
2375  2023-10-30 23:00:00  24.3

[2376 rows x 2 columns]

In [14]:
future = m.make_future_dataframe(df, periods=2400)
m.restore_trainer()
forecast = m.predict(future)
forecast.head()

INFO - (NP.df_utils._infer_frequency) - Major frequency H corresponds to 99.958% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - H
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

INFO - (NP.df_utils._infer_frequency) - Major frequency H corresponds to 99.958% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - H
INFO - (NP.df_utils._infer_frequency) - Major frequency H corresponds to 99.958% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - H

Predicting DataLoader 0: 100%|██████████| 3/3 [00:00<00:00, 119.89it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

                   ds     y      yhat1      trend  season_weekly  season_daily
0 2023-10-31 00:00:00  None  24.403826  25.779377       0.177775     -1.553327
1 2023-10-31 01:00:00  None  24.177294  25.774527       0.174692     -1.771925
2 2023-10-31 02:00:00  None  23.905241  25.769676       0.170986     -2.035421
3 2023-10-31 03:00:00  None  23.679825  25.764826       0.166605     -2.251605
4 2023-10-31 04:00:00  None  23.510490  25.759975       0.161504     -2.410989

In [15]:
filtered_df = forecast.loc[(forecast['ds'] == '2023-11-10 12:00:00')]

In [16]:
filtered_df

,ds,y,yhat1,trend,season_weekly,season_daily
252,2023-11-10 12:00:00,None,27.315304,24.557051,-0.219484,2.977737

In [17]:
print(round(filtered_df['yhat1'].values[0],2))

27.32